<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Medium</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <a class="nav-link" routerLink="/history" routerLinkActive="active">History</a>
    </ul>
  </div>

</nav>

<div >
  <router-outlet></router-outlet>
</div>
